@font-face {
  font-family: "TT Lakes";
  src: url("TT lakes/TTLakes-Medium.woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "TT Lakes";
  src: url("TT lakes/TTLakesCondensed-Bold.woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

body {
  width: 320px;
  max-height: 1024px;

  box-shadow: 16px 0px 52px 0px rgba(14, 24, 80, 0.2),
    -2px 0px 4px 0px rgba(69, 79, 126, 0.02);
  display: flex;
  justify-content: flex-start;
}
nav {
  display: flex;
  flex-direction: column;
}
/* стили шапки */
.head {
  width: 272px;
  margin: 19px 24px 47px 24px;
  display: flex;
  align-items: center;
}
.head__img_first {
  margin-right: 17px;
}
.head__img_third {
  margin-left: auto;
}

/* стили основного блока */

.navigation {
  display: flex;
  flex-direction: column;
}
.navigation__link {
  display: block;
  text-decoration: none;
  margin: 0 0 32px 0;
  padding-left: 24px;
  height: 24px;
}
.navigation__text {
  color: rgb(27, 28, 33);
  font-family: TT Lakes;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.2px;
  text-align: left;
}
.navigation__text:hover {
  filter: opacity(50%);
  transition-duration: 0.5s;
}
.navigation__link:hover {
  background-image: url("img/highlight (1).png");
  background-repeat: no-repeat;
  background-size: contain;
}

/* стили подвала */

.footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  flex-grow: 1;
  color: rgb(27, 28, 33);
  font-family: TT Lakes;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.2px;
  text-align: left;
}
.footer__imgs {
  padding-left: 24px;
}
.footer__img {
  margin-right: 16px;
}
.footer__mail {
  padding-left: 24px;
  margin-top: 16px;
}
.footer__number {
  padding-left: 24px;
  margin-top: 12px;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: -0.6px;
}
.footer__language {
  display: flex;
  padding-left: 24px;
  margin-top: 40px;
}
.footer__languages {
  margin-right: 7px;
  text-decoration: none;
  margin-bottom: 32px;
}
.footer__languages a {
  text-decoration: none;
  color: black;
}
.footer__languages a:focus {
  opacity: 50%;
}
